@model Employees.ViewModels.EmployeePairsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Employees</h3>

    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">

        <div class="form-group">
            <input type="file" name="EmployeesFile" class="form-control" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </form>


    <section>

        @if (!Model.EmployeePairs.Any())
        {
            <h3 class="text-center">There are no employee pairs.</h3>
        }
        else
        {
            <h3 class="text-center">Employee Pairs</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Employee ID #1</th>
                        <th scope="col">Employee ID #2</th>
                        <th scope="col">Project ID</th>
                        <th scope="col">Days worked</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.EmployeePairs.Count(); i++)
                    {
                        <tr>
                            <td>@Model.EmployeePairs[i].EmployeeId</td>
                            <td>@Model.EmployeePairs[i].EmpoyeeId2</td>
                            <td>@Model.EmployeePairs[i].ProjectIds</td>
                            <td>@Model.EmployeePairs[i].DaysWorked</td>
                        </tr>
                    }

                </tbody>

            </table>

        }
    </section>

</div>
